.SignUpContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; 
    margin-top: 4%;
  }
  
  
  .SignUpContainer h2 {
    text-align: center;
    margin: auto;
    font-size: 40px;
  }
  
  .SignUpContainer form {
    display: flex;
    flex-direction: column;
  }
  
  .SignUpContainer label {
    margin-bottom: 5px;
  }
  
  .SignUpContainer input,
select {
  margin-bottom: 15px;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 95%;
}

  
  .SignUpContainer button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
  }
  
  .SignUpContainer button:hover {
    background-color: #0056b3;
  }
  
  .SignUpContainer .error-message {
    color: red;
    margin-top: 5px;
  }
  

  @media (min-width: 600px) {
    .container {
      max-width: 600px;
    }
  }
  