/* AttemptQuiz.css */

.attempt-quiz-container {
    padding: 20px;
    margin: auto;
    max-width: 800px;
}

.quiz-title_f {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.questions-heading {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.questions-list {
    list-style-type: none;
    padding: 0;
}

.question-item {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
}

.question-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.question-type {
    font-style: italic;
    margin-bottom: 5px;
}

.options-list {
    list-style-type: none;
    padding: 0;
}

.option-item {
    margin-bottom: 5px;
}

.truefalse-options {
    margin-bottom: 10px;
}

.option-text {
    margin-left: 5px;
}

.paragraph-answer {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.submit-link {
    display: block;
    text-decoration: none;
    margin-top: 20px;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

.view-quiz-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .view-quiz-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .view-quiz-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .view-quiz-title-container {
    display: flex;
    align-items: center;
  }
  
  .view-quiz-title-container strong,
  .view-quiz-title-container .quiz-title {
    margin: 0;
  }
  
  .view-attempt-button-link {
    text-decoration: none;
  }
  
  .view-attempt-button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
  }
  
  .view-attempt-button:hover {
    background-color: darkblue;
    transform: scale(1.05);
  }
  
  

/* Responsive adjustments */
@media (max-width: 600px) {
    .question-item {
        padding: 10px;
    }

    .option-text {
        font-size: 0.9rem;
    }

    .submit-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}
